<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ecommerce</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <div class="container">
            <h1>Ariana joyeria</h1>
            <nav>
                <ul>
                    <li><a href="/">Inicio</a></li>
                    <li><a href="/productos">Productos</a></li>
                    <li><a href="/carrito">Carrito</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main>
        <div class="container">
            <div class="card">
                <img src="/src/public/anillo.jpg" alt="Collar">
                <h2>Collar</h2>
                <p>Collar descripcion</p>
                <button>Comprar</button>
            </div>
            <div class="card">
                <img src="/src/public/anillo.jpg" alt="Anillo">
                <h2>Anillo de oro</h2>
                <p>Anillo de oro descripcion</p>
                <button>Comprar</button>
            </div>
        </div>
    </main>

    <footer>
        <div class="container">
            <p>&copy;Todos los derechos reservados.</p>
        </div>
    </footer>

    <script src="scripts.js"></script>
</body>
</html>
